{% extends 'details/base.html' %} {% load i18n static crispy_forms_tags %} {% block meta %}
<meta name="keywords" content="">
<meta name="description" content=""> {% endblock meta %} {% block title %}سبد خرید{% endblock title %} {% block content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url('/static/details/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">{% trans "سبد خرید" %}<span>{% trans "فروشگاه" %}</span></h1>
        </div>
        <!-- End .container -->
    </div>
    <!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'details:home' %}">{% trans "خانه" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'blog:main' %}">{% trans "فروشگاه" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans "سبد خرید" %}</li>
            </ol>
        </div>
        <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="cart">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th>{% trans "محصول" %}</th>
                                    <th>{% trans "قیمت" %}</th>
                                    <th>{% trans "تعداد" %}</th>
                                    <th>{% trans "مجموع" %}</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>{% for item in cart %} {% with product=item.product %}
                                <tr>
                                    <td class="product-col">
                                        <div class="product">
                                            <figure class="product-media">
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/no_image.png' %} {% endif %}" alt="تصویر محصول">
                                                </a>
                                            </figure>

                                            <h3 class="product-title">
                                                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                            </h3>
                                            <!-- End .product-title -->
                                        </div>
                                        <!-- End .product -->
                                    </td>
                                    <td class="price-col">{{ item.price }} {% trans "ت" %}</td>
                                    <td class="quantity-col">
                                        <div class="cart-product-quantity">
                                            <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                                                {% csrf_token %} {{ item.update_quantity_form.quantity|as_crispy_field }} {{ item.update_quantity_form.update }} <input type="submit" value="{% trans 'به روز رسانی سبد خرید' %}">
                                            </form>

                                            <!-- <input type="number" class="form-control" value="{{ item.update_quantity_form.quantity }}" min="1" max="10" step="1" data-decimals="0" required> -->
                                        </div>
                                        <!-- End .cart-product-quantity -->
                                    </td>
                                    <td class="total-col">{{ item.total_price }} {% trans "ت" %}</td>
                                    <td><a href="{% url 'cart:cart_remove' product.id %}" class="btn-remove" title="حذف محصول"><i class="icon-close"></i></a></td>
                                    <!-- <td class="remove-col"><button class="btn-remove"><i class="icon-close"></i></button></td> -->
                                </tr>
                                {% endwith %} {% endfor %}
                                <!-- <tr>
                                    <td class="product-col">
                                        <div class="product">
                                            <figure class="product-media">
                                                <a href="#">
                                                    <img src="{% static 'assets/images/products/table/product-2.jpg' %}" alt="تصویر محصول">
                                                </a>
                                            </figure>

                                            <h3 class="product-title">
                                                <a href="#">لباس زنانه آبی</a>
                                            </h3>
                                            
                                        </div>
                                        
                                    </td>
                                    <td class="price-col">76,000</td>
                                    <td class="quantity-col">
                                        <div class="cart-product-quantity">
                                            <input type="number" class="form-control" value="2" min="1" max="10" step="1" data-decimals="0" required>
                                        </div>
                                        
                                    </td>
                                    <td class="total-col">152,000</td>
                                    <td class="remove-col"><button class="btn-remove"><i
                                                        class="icon-close"></i></button></td>
                                </tr> -->
                            </tbody>
                        </table>
                        <!-- End .table table-wishlist -->

                        <div class="cart-bottom">
                            <div class="cart-discount">
                                <form action="{% url 'coupons:apply' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <!-- <input type="text" class="form-control" required placeholder="کد تخفیف"> -->
                                        {{ coupon_apply_form.code }}
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary-2" type="submit"><i
                                                            class="icon-long-arrow-left mr-0"></i></button>
                                        </div>
                                        <!-- .End .input-group-append -->
                                    </div>
                                    <!-- End .input-group -->
                                </form>
                            </div>
                            <!-- End .cart-discount -->

                            <!-- <a href="{% url 'shop:product_list' %}" class="btn btn-outline-dark-2"><span>به روز رسانی سبد خرید</span><i class="icon-refresh"></i></a> -->
                        </div>
                        <!-- End .cart-bottom -->
                    </div>
                    <!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary summary-cart">
                            <h3 class="summary-title">{% trans "جمع سبد خرید" %}</h3>
                            <!-- End .summary-title -->

                            <table class="table table-summary">
                                <tbody>
                                    {% if not cart.coupon %}
                                    <tr class="summary-subtotal">
                                        <td>{% trans "جمع کل سبد خرید" %} : </td>
                                        <td class="text-left">{{ cart.get_total_price }} {% trans "ت" %}</td>
                                    </tr>
                                    {% else %}
                                    <tr class="subtotal">
                                        <td>{% trans "جمع سبد خرید" %}</td>
                                        <td colspan="4"></td>
                                        <td class="num">{{ cart.get_total_price }} {% trans "ت" %}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            "{{ cart.coupon.code }}" {% trans "کوپن" %} ({{ cart.coupon.discount }}% {% trans "تخفیف" %})
                                        </td>
                                        <td colspan="4"></td>
                                        <td class="num neg">
                                            - {{ cart.get_discount }} {% trans "ت" %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <tr class="total">
                                        <td>{% trans "جمع نهایی سبد خرید" %}</td>
                                        <td colspan="4"></td>
                                        <td class="num">
                                            {{ cart.get_total_price_after_discount }} {% trans "ت" %}
                                        </td>
                                    </tr>
                                    {% comment %}
                                    <!-- End .summary-subtotal -->
                                    <tr class="summary-shipping">
                                        <td>{% trans "شیوه ارسال" %} : </td>
                                        <td>&nbsp;</td>
                                    </tr>

                                    <tr class="summary-shipping-row">

                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                                                <label class="custom-control-label" for="free-shipping">{% trans "ارسال رایگان" %}</label>
                                            </div>
                                            <!-- End .custom-control -->
                                        </td>
                                        <td class="text-left">{% trans "0,000 ت" %}</td>
                                    </tr>
                                    <!-- End .summary-shipping-row -->

                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="standart-shipping" name="shipping" class="custom-control-input">
                                                <label class="custom-control-label" for="standart-shipping">{% trans "پست سفارشی" %} :</label>
                                            </div>
                                            <!-- End .custom-control -->
                                        </td>
                                        <td class="text-left">{% trans "10,000 ت" %}</td>
                                    </tr>
                                    <!-- End .summary-shipping-row -->

                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
                                                <label class="custom-control-label" for="express-shipping">{% trans "پست پیشتاز" %} :</label>
                                            </div>
                                            <!-- End .custom-control -->
                                        </td>
                                        <td class="text-left">{% trans "20,000 ت" %}</td>
                                    </tr>
                                    <!-- End .summary-shipping-row -->

                                    <tr class="summary-shipping-estimate">
                                        <td>{% trans "آدرس" %}<br> <a href="dashboard.html">{% trans "تغییر آدرس" %}</a></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <!-- End .summary-shipping-estimate -->
                                    {% endcomment %}
                                    <tr class="summary-total">
                                        <td>{% trans "مبلغ قابل پرداخت" %} :</td>
                                        <td class="text-left">{{ cart.get_total_price_after_discount }} {% trans "ت" %}</td>
                                    </tr>
                                    <!-- End .summary-total -->
                                </tbody>
                            </table>
                            <!-- End .table table-summary -->

                            <a href="{% url 'orders:order_create' %}" class="btn btn-outline-primary-2 btn-order btn-block">{% trans "رفتن به صفحه پرداخت" %}</a>
                        </div>
                        <!-- End .summary -->

                        <a href="{% url 'shop:product_list' %}" class="btn btn-outline-dark-2 btn-block mb-3"><span>{% trans "ادامه خرید" %}</span><i class="icon-refresh"></i></a>
                    </aside>
                    <!-- End .col-lg-3 -->
                </div>
                <!-- End .row -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .cart -->
    </div>
    <!-- End .page-content -->
</main>
<!-- End .main -->

{% endblock content %}