{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<body>
    <h1>{% trans "فروشگاه من" %}</h1>
    <p>
        {% trans "خرید شماره ی" %} {{ order.id }}<br>
        <span class="secondary">
            {{ order.created|date:"M d, Y" }}
        </span>
    </p>

    <h3>{% trans "پرداخت کننده" %}</h3>
    <p>
        {{ order.first_name }} {{ order.last_name }}<br> {{ order.email }}<br> {{ order.address }}<br> {{ order.postal_code }}, {{ order.city }}
    </p>

    <h3>{% trans "محصولات خریداری شده" %}</h3>
    <table>
        <thead>
            <tr>
                <th>{% trans "محصول" %}</th>
                <th>{% trans "قیمت" %}</th>
                <th>{% trans "تعداد" %}</th>
                <th>{% trans "قیمت کل" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
            <tr class="row{% cycle '1' '2' %}">
                <td>{{ item.product.name }}</td>
                <td class="num">${{ item.price }}</td>
                <td class="num">{{ item.quantity }}</td>
                <td class="num">{{ item.get_cost }}</td>
            </tr>
            {% endfor %}
            <tr class="total">
                <td colspan="3">{% trans "مجموع" %}</td>
                <td class="num">{% trans "ت" %} {{ order.get_total_cost }}</td>
            </tr>
        </tbody>
    </table>

    <span class="{% if order.paid %}Paid{% else %}Pending{% endif %}">
        {% if order.paid %}{% trans "پرداخت شده" %}{% else %}{% trans "پرداخت نشده" %}{% endif %}
    </span>
</body>

</html>