{% extends 'details/base.html' %} {% load i18n static crispy_forms_tags %} {% block meta %}
<meta name="keywords" content="">
<meta name="description" content=""> {% endblock meta %} {% block title %}{% trans "سبد خرید" %}{% endblock title %} {% block content %}

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">{% trans "صفحه پرداخت" %}<span>{% trans "فروشگاه" %}</span></h1>
        </div>
        <!-- End .container -->
    </div>
    <!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'details:home' %}">{% trans "خانه" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'shop:product_list' %}">{% trans "فروشگاه" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans "صفحه پرداخت" %}</li>
            </ol>
        </div>
        <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <!-- <div class="checkout-discount">
                    <form action="#">
                        <input type="text" class="form-control" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">کد تخفیف دارید؟ <span>برای وارد کردن کد تخفیف خود اینجا کلیک کنید</span></label>
                    </form>
                </div> -->
                <!-- End .checkout-discount -->
                <form action="." method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">{% trans "جزئیات صورت حساب" %}</h2>
                            <!-- End .checkout-title -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>{% trans "نام" %} *</label> {{ form.first_name|as_crispy_field }}
                                    <!-- <input type="text" class="form-control" required> -->
                                </div>
                                <!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>{% trans "نام خانوادگی" %} *</label> {{ form.last_name|as_crispy_field }}
                                    <!-- <input type="text" class="form-control" required> -->
                                </div>
                                <!-- End .col-sm-6 -->
                            </div>
                            <!-- End .row -->

                            <!-- <label>نام شرکت (اختیاری)</label>
                            <input type="text" class="form-control">

                            <label>کشور *</label>
                            <input type="text" class="form-control" required> -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>{% trans "شهر" %} *</label> {{ form.city|as_crispy_field }}
                                    <!-- <input type="text" class="form-control" required> -->

                                </div>
                                <!-- End .col-sm-6 -->

                                <!-- <div class="col-sm-6">
                                    <label>شهرستان *</label>
                                    <input type="text" class="form-control" required>
                                </div> -->
                                <!-- End .col-sm-6 -->
                            </div>
                            <!-- End .row -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>{% trans "آدرس" %} *</label> {{ form.address|as_crispy_field }}
                                    <!-- <input type="text" class="form-control" placeholder="نام خیابان و پلاک" required> -->

                                </div>
                                <!-- End .col-sm-12 -->

                            </div>
                            <!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>{% trans "کد پستی" %} *</label> {{ form.postal_code|as_crispy_field }}
                                    <!-- <input type="text" class="form-control" required> -->
                                </div>
                                <!-- End .col-sm-6 -->

                                <!-- <div class="col-sm-6">
                                    <label>تلفن *</label>
                                    <input type="tel" class="form-control" required>
                                </div> -->
                            </div>
                            <!-- End .row -->

                            <label>{% trans "ایمیل" %} *</label> {{ form.email|as_crispy_field }}
                            <!-- <input type="email" class="form-control" required> -->

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkout-create-acc">
                                <label class="custom-control-label" for="checkout-create-acc">{% trans "ایجاد یک حساب کاربری؟" %}</label>
                            </div>
                            <!-- End .custom-checkbox -->

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                <label class="custom-control-label" for="checkout-diff-address">{% trans "ارسال به یک آدرس متفاوت؟" %}</label>
                            </div>
                            <!-- End .custom-checkbox -->

                            <label>{% trans "توضیحات (اختیاری)" %}</label>
                            <textarea class="form-control" cols="30" rows="4" placeholder="شما میتوانید توضیحات اضافی خود را اینجا بنویسید"></textarea>
                        </div>
                        <!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">{% trans "سفارش شما" %}</h3>
                                <!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>محصول</th>
                                            <th class="text-left">{% trans "جمع" %}</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for item in cart %} {% with product=item.product %}
                                        <tr>
                                            <td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
                                            <td class="text-left">{{ item.total_price }} {% trans "ت" %}</td>
                                        </tr>
                                        {% endwith %} {% endfor %}
                                        <!-- End .summary-subtotal -->
                                        {% if cart.coupon %}
                                        <tr class="subtotal">
                                            <td>{% trans "جمع سبد خرید" %}</td>
                                            <td colspan="4"></td>
                                            <td class="num">{{ cart.get_total_price }} {% trans "ت" %}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                "{{ cart.coupon.code }}" {% trans "کوپن" %} ({{ cart.coupon.discount }}% {% trans "تخفیف" %})
                                            </td>
                                            <td colspan="4"></td>
                                            <td class="num neg">
                                                - {{ cart.get_discount }} {% trans "ت" %}
                                            </td>
                                        </tr>
                                        {% endif %} {% comment %}
                                        <tr>
                                            <td>شیوه ارسال : </td>
                                            <td class="text-left">ارسال رایگان</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>مبلغ قابل پرداخت :</td>
                                            <td class="text-left">{{ cart.get_total_price }}</td>
                                        </tr>
                                        <!-- End .summary-total -->
                                        {% endcomment %}
                                        <tr class="summary-subtotal">
                                            <td>{% trans "جمع سبد خرید" %}</td>
                                            <td class="text-left">{{ cart.get_total_price_after_discount }} {% trans "ت" %}</td>
                                        </tr>
                                    </tbody>

                                </table>
                                <!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    {% comment %}
                                    <div class="card">
                                        <div class="card-header" id="heading-1">
                                            <h2 class="card-title">
                                                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
										                    درگاه بانک ملت
										                </a>
                                            </h2>
                                        </div>

                                        <!-- End .card-header -->
                                        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                            <div class="card-body">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                                            </div>
                                            <!-- End .collapse -->
                                        </div>
                                        <!-- End .card -->

                                        <div class="card">
                                            <div class="card-header" id="heading-2">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
										                    درگاه شاپرک
										                </a>
                                                </h2>
                                            </div>
                                            <!-- End .card-header -->
                                            <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
                                                <div class="card-body">
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                                                </div>
                                                <!-- End .card-body -->
                                            </div>
                                            <!-- End .collapse -->
                                        </div>
                                        <!-- End .card -->

                                        <div class="card">
                                            <div class="card-header" id="heading-3">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
										                    زرین پال <small class="float-left paypal-link">زرین پال چیست؟</small>
										                </a>
                                                </h2>
                                            </div>
                                            <!-- End .card-header -->
                                            <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                                <div class="card-body">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                                                </div>
                                                <!-- End .card-body -->
                                            </div>
                                            <!-- End .collapse -->
                                        </div>
                                        <!-- End .card -->

                                        <div class="card">
                                            <div class="card-header" id="heading-4">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
										                    واریز بانک 
										                </a>
                                                </h2>
                                            </div>
                                            <!-- End .card-header -->
                                            <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
                                                <div class="card-body">
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                                                </div>
                                                <!-- End .card-body -->
                                            </div>
                                            <!-- End .collapse -->
                                        </div>
                                        <!-- End .card -->

                                        <div class="card">
                                            <div class="card-header" id="heading-5">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
										                    کارت به کارت
										                </a>
                                                </h2>
                                            </div>
                                            <!-- End .card-header -->
                                            <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                                                <div class="card-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                                                </div>
                                                <!-- End .card-body -->
                                            </div>
                                            <!-- End .collapse -->
                                        </div>
                                        <!-- End .card -->
                                    </div>
                                    <!-- End .accordion -->
                                    {% endcomment %}
                                    <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">{% trans "ثبت" %}</span>
		                					<span class="btn-hover-text">{% trans "پرداخت" %}</span>
		                				</button>
                                </div>
                                <!-- End .summary -->
                        </aside>
                        <!-- End .col-lg-3 -->
                        </div>
                        <!-- End .row -->
                </form>
                </div>
                <!-- End .container -->
            </div>
            <!-- End .checkout -->
        </div>
        <!-- End .page-content -->
</main>
<!-- End .main -->

{% endblock content %}