{% extends 'details/base.html' %} {% load i18n static crispy_forms_tags l10n %} {% block meta %}
<meta name="keywords" content="">
<meta name="description" content=""> {% endblock meta %} {% block title %}پست{% endblock title %} {% block content %}{% block head %}
<link rel="stylesheet" href="/static/details/assets/css/plugins/owl-carousel/owl.carousel.css">{% endblock head %}

<main class="main">
    <div class="page-header text-center" style="background-image: url('/static/details/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">{% trans "پست تکی" %}</h1>
        </div>
        <!-- End .container -->
    </div>
    <!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'details:home' %}">{% trans "خانه" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'blog:main' %}">{% trans "وبلاگ" %}</a></li>
                <li class="breadcrumb-item" aria-current="page">{% trans "پست تکی" %}</li>
                <li class="breadcrumb-item active" aria-current="page">{{post.title}}</li>
            </ol>
        </div>
        <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <article class="entry single-entry">
                        <figure class="entry-media">
                            <img src="{{ post.image.url }}" alt="توضیحات عکس">
                        </figure>
                        <!-- End .entry-media -->

                        <div class="entry-body">
                            <div class="entry-meta">
                                <span class="entry-author">
                                            {% trans "نویسنده" %}: <a href="#">{{ user.username }}</a>
                                        </span>
                                <span class="meta-separator">|</span>
                                <a href="#">{{ post.publish|localize }}</a>
                                <span class="meta-separator">|</span>
                                <a href="#">{{post.comments.count}} {% trans "دیدگاه" %}</a>
                            </div>
                            <!-- End .entry-meta -->

                            <h2 class="entry-title">
                                {{ post.title }}
                            </h2>
                            <!-- End .entry-title -->

                            <div class="entry-cats">
                                {% for tag in post.tags.all %} <a href="{% url 'blog:post_list_by_tag' tag.slug %}"> {{ tag.name }} </a> {% if not forloop.last %}, {% endif %} {% endfor %}
                            </div>
                            <!-- End .entry-cats -->

                            <div class="entry-content editor-content">
                                <p>{{ post.long_description|safe|truncatewords:30|linebreaks }}</p>
                            </div>
                            <!-- End .entry-content -->

                            <div class="entry-footer row no-gutters flex-column flex-md-row">
                                <div class="col-md">
                                    <div class="entry-tags">
                                        <span>{% trans "برچسب" %} : </span>{% for tag in post.tags.all %} <a href="{% url 'blog:post_list_by_tag' tag.slug %}"> {{ tag.name }} </a> {% if not forloop.last %} {% endif %} {% endfor %}
                                    </div>
                                    <!-- End .entry-tags -->
                                </div>
                                <!-- End .col -->

                                <!-- <div class="col-md-auto mt-2 mt-md-0">
                                    <div class="social-icons social-icons-color">
                                        <span class="social-label">اشتراک گذاری این پست : </span>
                                        <a href="#" class="social-icon social-facebook" title="فیسبوک"><i class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon social-twitter" title="توییتر"><i class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon social-pinterest" title="پینترست"><i class="icon-pinterest"></i></a>
                                        <a href="#" class="social-icon social-linkedin" title="لینکدین"><i class="icon-linkedin"></i></a>
                                        <a href="#" class="social-icon social-google" title="جیمیل"><i class="icon-google"></i></a>
                                    </div>
                                </div> -->
                                <!-- End .col-auto -->
                            </div>
                            <!-- End .entry-footer row no-gutters -->
                        </div>
                        <!-- End .entry-body -->

                        <div class="entry-author-details">
                            <figure class="author-media">
                                <a href="#">
                                    <img src="{% static 'details/assets/images/blog/single/author.jpg' %}" alt="User name">
                                </a>
                            </figure>
                            <!-- End .author-media -->
                            <div class="author-body">
                                <div class="author-header row no-gutters flex-column flex-md-row">
                                    <div class="col-12">
                                        <h4><a href="#">{% trans "مدیر سایت" %}</a></h4>
                                    </div>
                                    <!-- End .col -->
                                    <div class="col-auto mt-1 mt-md-0">
                                        <a href="#" class="author-link">{% trans "مشاهده همه پست های این نویسنده" %} <i
                                                        class="icon-long-arrow-left"></i></a>
                                    </div>
                                    <!-- End .col -->
                                </div>
                                <!-- End .row -->

                                <div class="author-content">
                                    <p>{% trans "لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی" %}
                                    </p>
                                </div>
                                <!-- End .author-content -->
                            </div>
                            <!-- End .author-body -->
                        </div>
                        <!-- End .entry-author-details-->
                    </article>
                    <!-- End .entry -->

                    <nav class="pager-nav" aria-label="Page navigation">
                        {% if previous_post %}
                        <a class="pager-link pager-link-prev" href="{{ previous_post.get_absolute_url }}" aria-label="Previous" tabindex="-1">
                                    {% trans "پست قبلی" %}
                                    <span class="pager-link-title">{{previous_post.title}}</span>
                                </a>{% endif %} {% if next_post %}
                        <a class="pager-link pager-link-next" href="{{ next_post.get_absolute_url }}" aria-label="Next" tabindex="-1">
                                    {% trans "پست بعدی" %}
                                    <span class="pager-link-title">{{next_post.title}}</span>            
                        </a>{% endif %}
                    </nav>
                    <!-- End .pager-nav -->

                    <div class="related-posts">
                        <h3 class="title">{% trans "پست های مرتبط" %}</h3>
                        <!-- End .title -->

                        <div class="owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
                                        "nav": false, 
                                        "dots": true,
                                        "margin": 20,
                                        "loop": false,
                                        "responsive": {
                                            "0": {
                                                "items":1
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            }
                                        }
                                    }'>
                            {% for post in posts %}
                            <article class="entry entry-grid">
                                <figure class="entry-media">
                                    <a href="{{post.get_absolute_url}}">
                                        <img src="{{post.image.url}}" alt="توضیحات عکس">
                                    </a>
                                </figure>
                                <!-- End .entry-media -->

                                <div class="entry-body">
                                    <div class="entry-meta justify-content-end">
                                        <a href="#">{{post.publish|localize}}</a>
                                        <span class="meta-separator">|</span>
                                        <a href="#">{{post.comments.count}} {% trans "دیدگاه" %}</a>
                                    </div>
                                    <!-- End .entry-meta -->

                                    <h2 class="entry-title">
                                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                                    </h2>
                                    <!-- End .entry-title -->

                                    <div class="entry-cats">
                                        <a href="{% url 'blog:post_list_by_category' post.category.slug %}">{{post.category}}</a>
                                        <!-- <a href="#">فروشگاه</a> -->
                                    </div>
                                    <!-- End .entry-cats -->
                                </div>
                                <!-- End .entry-body -->
                            </article>
                            <!-- End .entry -->
                            {% endfor %}
                        </div>
                        <!-- End .owl-carousel -->
                    </div>
                    <!-- End .related-posts -->

                    <div class="comments">
                        {% with comments.count as total_comments %}
                        <h3 class="h4 text-right">{{ total_comments }} {% trans "دیدگاه" %}</h3>
                        {% endwith %}
                        <ul>{% for comment in comments %}
                            <li>

                                <div class="comment">
                                    <figure class="comment-media">
                                        <a href="#">
                                            <img src="{{ user.userprofile.photo.url }}" alt="User name">
                                        </a>
                                    </figure>

                                    <div class="comment-body">
                                        <!-- <a href="#" class="comment-reply">{% trans "پاسخ" %}</a> -->
                                        <!-- Reply Comment -->
                                        <button class="btn btn-fill-out" data-toggle="collapse" href="#collapseOne">پاسخ</button>
                                        <!-- End Reply Comment -->
                                        <div class="comment-user">
                                            <h4><a href="#">{{ user.username }}</a></h4>
                                            <span class="comment-date">{{ comment.created|localize }}</span>
                                        </div>
                                        <!-- End .comment-user -->

                                        <div class="comment-content">
                                            <p>{{ comment.body|linebreaks }}</p>
                                        </div><br>
                                        <!-- End .comment-content -->

                                        <!-- Reply Comment Form -->
                                        <div id="collapseOne" class="collapse">
                                            <form action="." method="POST" name="enq">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="reply-name" class="sr-only">{% trans "نام" %}</label> {{ comment_form.first_name|as_crispy_field }}
                                                        <!-- <input type="text" class="form-control" id="reply-name" name="reply-name" required placeholder="نام شما *"> -->
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label for="reply-name" class="sr-only">{% trans "دیدگاه شما" %}</label>
                                                        <!-- <textarea required="" type="" class="form-control ticket-textarea" name="body"></textarea> -->
                                                        {{ comment_form.body|as_crispy_field }}
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-outline-primary-2 float-left" name="reply" value="Submit">ارسال</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- End Reply Comment Form -->

                                    </div>
                                    <!-- End .comment-body -->
                                </div>
                                <!-- End .comment -->

                                {% for reply in comment.children %}
                                <ul>
                                    <li>
                                        <div class="comment">
                                            <figure class="comment-media">
                                                <a href="#">
                                                    <img src="{{ user.username }}" alt="User name">
                                                </a>
                                            </figure>

                                            <div class="comment-body">
                                                <a href="#" class="comment-reply">{% trans "پاسخ" %}</a>
                                                <div class="comment-user">
                                                    <h4><a href="#">{{user.username}}</a></h4>
                                                    <span class="comment-date">{{reply.created}}</span>
                                                </div>
                                                <!-- End .comment-user -->

                                                <div class="comment-content">
                                                    <p>{{reply.body}}</p>
                                                </div>
                                                <!-- End .comment-content -->
                                            </div>
                                            <!-- End .comment-body -->
                                        </div>
                                        <!-- End .comment -->
                                    </li>
                                </ul>
                                {% endfor %}
                            </li> {% endfor %} {% if new_comment %}
                            <h2 class="h4 text-center text-success">{% trans "دیدگاه جدید ثبت شد" %}</h2> {% endif %}
                        </ul>
                    </div>
                    <!-- End .comments -->

                    <div class="reply">
                        <div class="heading">
                            <h3 class="title">{% trans "ارسال یک دیدگاه" %}</h3>
                            <!-- End .title -->
                            <p class="title-desc">{% trans "ایمیل شما منتشر نخواهد شد، فیلد های اجباری با علامت * مشخص شده اند." %}</p>
                        </div>
                        <!-- End .heading -->

                        {% if user.is_authenticated %}
                        <form action="." method="POST">
                            {% csrf_token %}
                            <!-- <textarea name="reply-message" id="reply-message" cols="30" rows="4" class="form-control" required placeholder="دیدگاه شما *"></textarea> -->

                            <div class="row">
                                <div class="col-md-6">
                                    <label for="reply-name" class="sr-only">{% trans "نام" %}</label> {{ comment_form.first_name|as_crispy_field }}
                                    <!-- <input type="text" class="form-control" id="reply-name" name="reply-name" required placeholder="نام شما *"> -->
                                </div>
                                <!-- End .col-md-6 -->

                                {% comment %}
                                <div class="col-md-6">
                                    <label for="reply-email" class="sr-only">{% trans "ایمیل" %}</label> {{ comment_form.email|as_crispy_field }}
                                    <!-- <input type="email" class="form-control" id="reply-email" name="reply-email" required placeholder="ایمیل شما *"> -->
                                </div>
                                <!-- End .col-md-6 -->
                                {% endcomment %}
                            </div>
                            <!-- End .row -->
                            <label for="reply-message" class="sr-only">{% trans "دیدگاه" %}</label> {{ comment_form.body|as_crispy_field }}

                            <button type="submit" class="btn btn-outline-primary-2 float-right">
                                        <span>{% trans "ارسال دیدگاه" %}</span>
                                        <i class="icon-long-arrow-left"></i>
                                    </button>
                        </form>
                        {% else %}
                        <p>{% trans "ابتدا باید" %} <a href="{% url 'register' %}">{% trans "وارد" %} </a>{% trans "شوید" %}</p>{% endif %}

                    </div>
                    <!-- End .reply -->
                </div>
                <!-- End .col-lg-9 -->

                {% include "blog/aside.html" %}

            </div>
            <!-- End .row -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .page-content -->
</main>
<!-- End .main -->

{% endblock content %}