<div class="answer-ticket-button">
    <button class="btn btn-fill-out" data-toggle="collapse" href="#collapseOne">پاسخ</button>
    <div id="collapseOne" class="collapse">
        <form method="post" name="enq">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>پیام <span class="required">*</span></label>
                    <textarea required="" type="" class="form-control ticket-textarea" name="body"></textarea>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">ارسال</button>
                </div>
            </div>
        </form>
    </div>
</div>