{% extends "details/base.html" %} {% load i18n %} {% block meta %}
<meta name="keywords" content="">
<meta name="description" content=""> {% endblock meta %} {% block title %}{% trans "بازیابی رمز عبور" %}{% endblock %} {% block content %}

<div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('/static/details/assets/images/backgrounds/login-bg.jpg')">
    <div class="tab-content">
        <div class="form-box">
            <div class="form-group">
                <h1 class="h4 text-right">{% trans "بازیابی رمز عبور" %}</h1><br>
                <p>{% trans "رمز عبور شما با موفقت تغییر کرد" %}.<br> {% trans "میتوانید" %}
                    <a href="{% url 'register' %}" log in now>{% trans "وارد" %} </a>{% trans "شوید" %}.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}