{% extends 'details/base.html' %} {% load i18n crispy_forms_tags %} {% block meta %}
<meta name="keywords" content="">
<meta name="description" content=""> {% endblock meta %} {% block title %}{% trans "بازیابی رمز عبور" %}{% endblock %} {% block content %}
<div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('/static/details/assets/images/backgrounds/login-bg.jpg')">
    <div class="tab-content">
        <div class="form-box">
            <div class="form-group">
                <h1 class="h4 text-right">{% trans "بازیابی رمز عبور" %}</h1><br>
                <p>{% trans "لطفا ایمیل خود را در کادر زیر وارد کنید" %}:</p>
                <form action="." method="post">
                    {% csrf_token %} {{ form.email|as_crispy_field }}
                    <p><input type="submit" value="{% trans 'تایید' %}"></p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}