{% extends "details/base.html" %} {% load crispy_forms_tags %} {% block meta %}
<meta name="keywords" content="">
<meta name="description" content=""> {% endblock meta %} {% block title %}بازیابی رمز عبور{% endblock %} {% block content %}

<div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('/static/details/assets/images/backgrounds/login-bg.jpg')">
    <div class="tab-content">
        <div class="form-box">
            <div class="form-group">
                <h1 class="h4 text-right">بازیابی رمز عبور</h1><br> {% if validlink %}
                <p>لطفا رمز عبور جدید خود را دو بار وارد کنید:</p>
                <form action="." method="post">
                    {% csrf_token %} {{ form.new_password1|as_crispy_field }} {{ form.new_password2|as_crispy_field }}
                    <p><input type="submit" value="تایید" /></p>
                </form>
                {% else %}
                <p>لینک مورد نظر اعتبار ندارد. احتمالا به دلیل اینکه قبلا استفاده شده. لطفا درخواست جدیدی بدهید.</p>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}