{% load i18n static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">


<!-- molla/404.html  22 Nov 2019 10:04:04 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock title %}</title>
    {% block meta %}
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template"> {% endblock meta %}
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'details/assets/images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'details/assets/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'details/assets/images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'details/assets/images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'details/assets/images/icons/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="shortcut icon" href="{% static 'details/assets/images/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'details/assets/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'details/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'details/assets/css/bootstrap-rtl.min.css' %}"> {% block head %} {% endblock head %}
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'details/assets/css/style.css' %}">
</head>

<body>

    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        {% get_current_language as LANGUAGE_CODE %} {% get_available_languages as LANGUAGES %} {% get_language_info_list for LANGUAGES as languages %}
                        <div class="header-dropdown">
                            <a href="#">{% trans "انتخاب زبان" %}</a>
                            <div class="header-menu">
                                <ul>
                                    {% for language in languages %}
                                    <li><a href="/{{ language.code }}/" {% if language.code == LANGUAGE_CODE %} class="selected" {% endif %}>{{ language.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% comment %}
                            <br>
                            <div>{{LANGUAGE_CODE}}</div>
                            <br>
                            <div>{{LANGUAGES}}</div>
                            <br>
                            <div>{{languages}}</div>
                            {% endcomment %}
                            <!-- End .header-menu -->
                        </div>
                    </div>
                    <!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">{% trans "لینک ها" %}</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i> : 02155667788{% trans "تلفن تماس" %}</a></li>
                                    <li><a href="wishlist.html"><i class="icon-heart-o"></i>{% trans "لیست علاقه مندی" %}
                                            <span>(3)</span></a></li>
                                    <li><a href="{% url 'details:about_us' %}">{% trans "درباره ما" %}</a></li>
                                    <li><a href="{% url 'details:contact_us' %}">{% trans "تماس با ما" %}</a></li>
                                    <li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>{% trans "ورود" %}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- End .top-menu -->
                    </div>
                    <!-- End .header-right -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">{% trans "فهرست" %}</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="{% static 'details/assets/images/logo.png' %}" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="{% url 'details:home' %}">{% trans "خانه" %}</a>

                                    <!-- <div class="megamenu demo">
                                        <div class="menu-col">
                                            <div class="menu-title">دمو خود را انتخاب کنید</div>
                                            

                                            <div class="demo-list">
                                                <div class="demo-item">
                                                    <a href="index.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/3.jpg);"></span>
                                                        <span class="demo-title">01 - فروشگاه لوازم الکترونیکی</span>
                                                    </a>

                                                </div>
                                                

                                                <div class="demo-item">
                                                    <a href="index-2.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/2.jpg);"></span>
                                                        <span class="demo-title">02 - فروشگاه مبلمان</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item">
                                                    <a href="index-3.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/1.jpg);"></span>
                                                        <span class="demo-title">03 - فروشگاه مبلمان</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item">
                                                    <a href="index-4.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/4.jpg);"></span>
                                                        <span class="demo-title">04 - فروشگاه لوازم الکترونیکی</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item">
                                                    <a href="index-5.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/5.jpg);"></span>
                                                        <span class="demo-title">05 - فروشگاه مد و لباس</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item">
                                                    <a href="index-6.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/6.jpg);"></span>
                                                        <span class="demo-title">06 - فروشگاه مد و لباس</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item">
                                                    <a href="index-7.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/7.jpg);"></span>
                                                        <span class="demo-title">07 - فروشگاه مد و لباس</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item">
                                                    <a href="index-8.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/8.jpg);"></span>
                                                        <span class="demo-title">08 - فروشگاه مد و لباس</span>
                                                    </a>
                                                </div>
                                               

                                                <div class="demo-item">
                                                    <a href="index-9.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/9.jpg);"></span>
                                                        <span class="demo-title">09 - فروشگاه مد و لباس</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item">
                                                    <a href="index-10.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/10.jpg);"></span>
                                                        <span class="demo-title">10 - فروشگاه کفش</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item hidden">
                                                    <a href="index-11.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/11.jpg);"></span>
                                                        <span class="demo-title">11 - فروشگاه مبل</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item hidden">
                                                    <a href="index-12.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/12.jpg);"></span>
                                                        <span class="demo-title">12 - فروشگاه مد</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item hidden">
                                                    <a href="index-13.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/13.jpg);"></span>
                                                        <span class="demo-title">13 - بازار</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item hidden">
                                                    <a href="index-14.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/14.jpg);"></span>
                                                        <span class="demo-title">14 - بازار تمام عرض</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item hidden">
                                                    <a href="index-15.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/15.jpg);"></span>
                                                        <span class="demo-title">15 - مد و زیبایی</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item hidden">
                                                    <a href="index-16.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/16.jpg);"></span>
                                                        <span class="demo-title">16 - مد و زیبایی</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item hidden">
                                                    <a href="index-17.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/17.jpg);"></span>
                                                        <span class="demo-title">17 - فروشگاه مد و لباس</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item hidden">
                                                    <a href="index-18.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/18.jpg);"></span>
                                                        <span class="demo-title">18 - فروشگاه مد و لباس (با
                                                            سایدبار)</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item hidden">
                                                    <a href="index-19.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/19.jpg);"></span>
                                                        <span class="demo-title">19 - فروشگاه بازی</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item hidden">
                                                    <a href="index-20.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/20.jpg);"></span>
                                                        <span class="demo-title">20 - فروشگاه کتاب</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item hidden">
                                                    <a href="index-21.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/21.jpg);"></span>
                                                        <span class="demo-title">21 - فروشگاه ورزشی</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item hidden">
                                                    <a href="index-22.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/22.jpg);"></span>
                                                        <span class="demo-title">22 - فروشگاه ابزار</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item hidden">
                                                    <a href="index-23.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/23.jpg);"></span>
                                                        <span class="demo-title">23 - -فروشگاه مد با نوبار سمت
                                                            راست</span>
                                                    </a>
                                                </div>
                                                

                                                <div class="demo-item hidden">
                                                    <a href="index-24.html">
                                                        <span class="demo-bg" style="background-image: url(details/assets/images/menu/demos/24.jpg);"></span>
                                                        <span class="demo-title">24 - فروشگاه ورزشی</span>
                                                    </a>
                                                </div>
                                               

                                            </div>
                                            

                                            <div class="megamenu-action text-center">
                                                <a href="demo.html" class="btn btn-outline-primary-2 view-all-demos"><span>مشاهده همه
                                                        دمو ها</span><i class="icon-long-arrow-left"></i></a>
                                            </div>
                                            
                                        </div>
                                        
                                    </div> -->
                                    <!-- End .megamenu -->
                                </li>
                                <li>
                                    <a href="{% url 'shop:product_list' %}">{% trans "فروشگاه" %}</a>

                                    <!-- <div class="megamenu megamenu-md">
                                        <div class="row no-gutters">
                                            <div class="col-md-8">
                                                <div class="menu-col">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="menu-title">فروشگاه با سایدبار</div>
                                                            
                                                            <ul>
                                                                <li><a href="category-list.html">فروشگاه لیست</a></li>
                                                                <li><a href="category-2cols.html">فروشگاه 2 ستونه</a>
                                                                </li>
                                                                <li><a href="category.html">فروشگاه 3 ستونه</a></li>
                                                                <li><a href="category-4cols.html">فروشگاه 4 ستونه</a>
                                                                </li>
                                                                <li><a href="category-market.html"><span>فروشگاه
                                                                            بازار<span
                                                                                class="tip tip-new">جدید</span></span></a>
                                                                </li>
                                                            </ul>

                                                            <div class="menu-title">فروشگاه بدون سایدبار</div>
                                                            
                                                            <ul>
                                                                <li><a href="category-boxed.html"><span>فروشگاه با حالت
                                                                            باکس<span
                                                                                class="tip tip-hot">ویژه</span></span></a>
                                                                </li>
                                                                <li><a href="category-fullwidth.html">فروشگاه تمام
                                                                        صفحه</a></li>
                                                            </ul>
                                                        </div>
                                                        

                                                        <div class="col-md-6">
                                                            <div class="menu-title">دسته بندی محصولات</div>
                                                            
                                                            <ul>
                                                                <li><a href="product-category-boxed.html">دسته بندی
                                                                        محصولات با حالت باکس</a></li>
                                                                <li><a href="product-category-fullwidth.html"><span>دسته
                                                                            بندی محصولات تمام صفحه<span
                                                                                class="tip tip-new">جدید</span></span></a>
                                                                </li>
                                                            </ul>
                                                            <div class="menu-title">صفحات فروشگاه</div>
                                                            
                                                            <ul>
                                                                <li><a href="cart.html">سبد خرید</a></li>
                                                                <li><a href="checkout.html">پرداخت</a></li>
                                                                <li><a href="wishlist.html">لیست علاقه مندی ها</a></li>
                                                                <li><a href="dashboard.html">داشبورد</a></li>
                                                            </ul>
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                            

                                            <div class="col-md-4">
                                                <div class="banner banner-overlay">
                                                    <a href="category.html" class="banner banner-menu">
                                                        <img src="{% static 'details/assets/images/menu/banner-1.jpg' %}" alt="بنر">

                                                        <div class="banner-content banner-content-top">
                                                            <div class="banner-title text-white">آخرین
                                                                <br>شانس<br><span><strong>فروش</strong></span></div>
                                                            
                                                        </div>
                                                        
                                                    </a>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                        
                                    </div> -->
                                    <!-- End .megamenu megamenu-md -->
                                </li>
                                <li>
                                    <a href="{% url 'details:about_us' %}">{% trans "درباره ما" %}</a>

                                    <!-- <div class="megamenu megamenu-sm">
                                        <div class="row no-gutters">
                                            <div class="col-md-6"> -->
                                    <!-- <div class="menu-col"> -->
                                    <!-- <div class="menu-title">جزئیات محصول</div> -->
                                    <!-- End .menu-title -->
                                    <!-- <ul>
                                                        <li><a href="product.html">پیش فرض</a></li>
                                                        <li><a href="product-centered.html">توضیحات وسط چین</a></li>
                                                        <li><a href="product-extended.html"><span>توضیحات گسترده<span
                                                                        class="tip tip-new">جدید</span></span></a></li>
                                                        <li><a href="product-gallery.html">گالری</a></li>
                                                        <li><a href="product-sticky.html">اطلاعات چسبیده</a></li>
                                                        <li><a href="product-sidebar.html">صفحه جمع با سایدبار</a></li>
                                                        <li><a href="product-fullwidth.html">تمام صفحه</a></li>
                                                        <li><a href="product-masonry.html">اطلاعات چسبیده</a></li>
                                                    </ul>
                                                </div> -->
                                    <!-- End .menu-col -->
                                    <!-- </div> -->
                                    <!-- End .col-md-6 -->

                                    <!-- <div class="col-md-6">
                                                    <div class="banner banner-overlay">
                                                        <a href="category.html">
                                                            <img src="{% static 'details/assets/images/menu/banner-2.jpg' %}" alt="بنر">

                                                            <div class="banner-content banner-content-bottom">
                                                                <div class="banner-title text-white">محصولات جدید
                                                                    <br><span><strong>بهار 1399</strong></span>
                                                                </div>
                                                                
                                                            </div>
                                                            
                                                        </a>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                            
                                        </div> -->

                                </li>
                                <li>
                                    <a href="{% url 'details:contact_us' %}">{% trans "تماس با ما" %} </a>
                                </li>
                                <li>
                                    <a href="{% url 'blog:main' %}">{% trans "وبلاگ" %}</a>
                                </li>
                                <li>
                                    <a href="#" class="sf-with-ul">{% trans "کاربری" %}</a> {% if user.is_authenticated %}

                                    <ul>
                                        <li><a href="{% url 'user_profile:profile_detail_view' %}">{% trans "داشبورد" %}</a></li>
                                    </ul>

                                    {% else %}

                                    <ul>
                                        <li><a href="{% url 'register' %}">{% trans "ورود و ثبت نام" %}</a></li>
                                    </ul>

                                    {% endif %}

                                </li>
                            </ul>
                            <!-- End .menu -->
                        </nav>
                        <!-- End .main-nav -->
                    </div>
                    <!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="جستجو"><i
                                    class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">{% trans "جستجو" %}</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="{% trans 'جستجو در ...' %}" required>
                                </div>
                                <!-- End .header-search-wrapper -->
                            </form>
                        </div>
                        <!-- End .header-search -->
                        <div class="dropdown compare-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                <i class="icon-random"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- <ul class="compare-products">
                                    <li class="compare-product">
                                        <a href="#" class="btn-remove" title="حذف محصول"><i class="icon-close"></i></a>
                                        <h4 class="compare-product-title"><a href="product.html">Blue Night Dress</a>
                                        </h4>
                                    </li>
                                    <li class="compare-product">
                                        <a href="#" class="btn-remove" title="حذف محصول"><i class="icon-close"></i></a>
                                        <h4 class="compare-product-title"><a href="product.html">White Long Skirt</a>
                                        </h4>
                                    </li>
                                </ul> -->

                                <div class="compare-actions">
                                    <a href="#" class="action-link">{% trans "پاک کردن همه" %}</a>
                                    <a href="#" class="btn btn-outline-primary-2"><span>{% trans "مقایسه" %}</span><i
                                            class="icon-long-arrow-left"></i></a>
                                </div>
                            </div>
                            <!-- End .dropdown-menu -->
                        </div>
                        <!-- End .compare-dropdown -->

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">{{ cart|length }}</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    {% for item in cart %} {% with product=item.product %}
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="{% url 'shop:product_detail' product.id product.slug %}">{{ product.name }}</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">{{ product.quantity }} x </span> {{ product.price }}
                                            </span>
                                        </div>
                                        <!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="{% url 'shop:product_detail' product.id product.slug %}" class="product-image">
                                                <img src="{{ product.image.url }}" alt="محصول">
                                            </a>
                                        </figure>
                                        <a href="{% url 'cart:cart_remove' product.id %}" class="btn-remove" title="حذف محصول"><i class="icon-close"></i></a>
                                    </div>
                                    <!-- End .product -->
                                    {% endwith %} {% endfor %}
                                </div>
                                <!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>{% trans "مجموع" %}</span>

                                    <span class="cart-total-price">
                                    {{ cart.get_total_price }}</span>
                                </div>
                                <!-- End .dropdown-cart-total -->


                                <div class="dropdown-cart-action">
                                    <a href="{% url 'cart:cart_detail' %}" class="btn btn-primary">{% trans "مشاهده سبد خرید" %}</a>
                                    <a href="{% url 'orders:order_create' %}" class="btn btn-outline-primary-2"><span>{% trans "پرداخت" %}</span><i
                                            class="icon-long-arrow-left"></i></a>
                                </div>
                                <!-- End .dropdown-cart-total -->
                            </div>
                            <!-- End .dropdown-menu -->
                        </div>
                        <!-- End .cart-dropdown -->
                    </div>
                    <!-- End .header-right -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-middle -->
        </header>
        <!-- End .header -->
        {% block content %} {% endblock content %}
        <main class="main">
            <footer class="footer">
                <div class="footer-middle border-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget widget-about">
                                    <img src="{% static 'details/assets/images/logo.png' %}" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                    <p>{% trans "لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم" %}. </p>

                                    <div class="social-icons">
                                        <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                            class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                            class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                            class="icon-instagram"></i></a>
                                        <a href="#" class="social-icon" title="یوتیوب" target="_blank"><i
                                            class="icon-youtube"></i></a>
                                        <a href="#" class="social-icon" title="پینترست" target="_blank"><i
                                            class="icon-pinterest"></i></a>
                                    </div>
                                    <!-- End .soial-icons -->
                                </div>
                                <!-- End .widget about-widget -->
                            </div>
                            <!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">{% trans "لینک های مفید" %}</h4>
                                    <!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="{% url 'details:about_us' %}">{% trans "درباره ما" %}</a></li>
                                        <li><a href="#">{% trans "خدمات" %}</a></li>
                                        <li><a href="#">{% trans "نحوه خرید" %}</a></li>
                                        <li><a href="faq.html">{% trans "سوالات متداول" %}</a></li>
                                        <li><a href="{% url 'details:contact_us' %}">{% trans "تماس با ما" %}</a></li>
                                    </ul>
                                    <!-- End .widget-list -->
                                </div>
                                <!-- End .widget -->
                            </div>
                            <!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">{% trans "خدمات مشتری" %}</h4>
                                    <!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">{% trans "شیوه پرداخت" %}</a></li>
                                        <li><a href="#">{% trans "گارانتی بازگشت وجه" %}</a></li>
                                        <li><a href="#">{% trans "شیوه ارسال محصولات" %}</a></li>
                                        <li><a href="#">{% trans "قوانین و مقررات" %}</a></li>
                                        <li><a href="#">{% trans "خط مشی" %}</a></li>
                                    </ul>
                                    <!-- End .widget-list -->
                                </div>
                                <!-- End .widget -->
                            </div>
                            <!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">{% trans "حساب کاربری" %}</h4>
                                    <!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="{% url 'register' %}">{% trans "ورود" %}</a></li>
                                        <li><a href="cart.html">{% trans "سبد خرید" %}</a></li>
                                        <li><a href="#">{% trans "لیست علاقه مندی ها" %}</a></li>
                                        <li><a href="#">{% trans "پیگیری سفارشات" %}</a></li>
                                        <li><a href="#">{% trans "راهنما" %}</a></li>
                                    </ul>
                                    <!-- End .widget-list -->
                                </div>
                                <!-- End .widget -->
                            </div>
                            <!-- End .col-sm-6 col-lg-3 -->
                        </div>
                        <!-- End .row -->
                    </div>
                    <!-- End .container -->
                </div>
                <!-- End .footer-middle -->

                <div class="footer-bottom">
                    <div class="container">
                        <p class="footer-copyright">Copyright © 2019 {% trans "تمامی حقوق محفوظ است" %}.</p>
                        <!-- End .footer-copyright -->
                    </div>
                    <!-- End .container -->
                </div>
                <!-- End .footer-bottom -->
            </footer>
            <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">{% trans "جستجو" %}</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="{% trans 'جستجو در ...' %}" required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="{% url 'details:home' %}">{% trans "خانه" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'shop:product_list' %}">{% trans "فروشگاه" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'details:about_us' %}" class="sf-with-ul">{% trans "درباره ما" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'details:contact_us' %}">{% trans "تماس با ما" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'blog:main' %}">{% trans "وبلاگ" %}</a>
                    </li>
                    <li>
                        <li>
                            <a href="#" class="sf-with-ul">{% trans "کاربری" %}</a> {% if user.is_authenticated %}

                            <ul>
                                <li><a href="{% url 'user_profile:profile_detail_view' %}">{% trans "داشبورد" %}</a></li>
                            </ul>

                            {% else %}

                            <ul>
                                <li><a href="{% url 'register' %}">{% trans "ورود و ثبت نام" %}</a></li>
                            </ul>

                            {% endif %}

                        </li>
                    </li>
                </ul>
            </nav>
            <!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="فیسبوک"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="توییتر"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="اینستاگرام"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="یوتیوب"><i class="icon-youtube"></i></a>
            </div>
            <!-- End .social-icons -->
        </div>
        <!-- End .mobile-menu-wrapper -->
    </div>
    <!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="icon-close"></i></span>
                        </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">ورود</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">ثبت نام</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">{% trans "نام کاربری یا آدرس ایمیل" %} *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div>
                                        <!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">{% trans "رمز عبور" %} *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div>
                                        <!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                    <span>{% trans "ورود" %}</span>
                                                    <i class="icon-long-arrow-left"></i>
                                                </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">{% trans "مرا به خاطر بسپار" %}</label></div>
                                            <!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">{% trans "فراموشی رمز عبور؟" %}</a>
                                        </div>
                                        <!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">{% trans "یا ورود با" %}</p>
                                        <div class="row">
                                            <!-- <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i> حساب گوگل
                                                </a>
                                            </div>
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i> حساب فیسبوک
                                                </a>
                                            </div> -->
                                            <!-- End .col-6 -->
                                        </div>
                                        <!-- End .row -->
                                    </div>
                                    <!-- End .form-choice -->
                                </div>
                                <!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">{% trans "آدرس ایمیل شما" %} *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div>
                                        <!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">{% trans "رمز عبور" %} *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div>
                                        <!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                    <span>{% trans "ثبت نام" %}</span>
                                                    <i class="icon-long-arrow-left"></i>
                                                </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">با
                                                        <a href="#">{% trans "قوانین و مقررات" %} </a>{% trans "موافقم" %} *</label>
                                            </div>
                                            <!-- End .custom-checkbox -->
                                        </div>
                                        <!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">{% trans "یا عضویت با" %}</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>{% trans " حساب گوگل" %}
                                                </a>
                                            </div>
                                            <!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i> {% trans "حساب فیسبوک" %}
                                                </a>
                                            </div>
                                            <!-- End .col-6 -->
                                        </div>
                                        <!-- End .row -->
                                    </div>
                                    <!-- End .form-choice -->
                                </div>
                                <!-- .End .tab-pane -->
                            </div>
                            <!-- End .tab-content -->
                        </div>
                        <!-- End .form-tab -->
                    </div>
                    <!-- End .form-box -->
                </div>
                <!-- End .modal-body -->
            </div>
            <!-- End .modal-content -->
        </div>
        <!-- End .modal-dialog -->
    </div>
    <!-- End .modal -->

    <!-- Plugins JS File -->
    <script src="{% static 'details/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'details/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'details/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'details/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'details/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'details/assets/js/owl.carousel.min.js' %}"></script>
    {% block script %} {% endblock script %}
    <!-- Main JS File -->
    <script src="{% static 'details/assets/js/main.js' %}"></script>
</body>


<!-- molla/404.html  22 Nov 2019 10:04:04 GMT -->

</html>
