{% extends 'details/base.html' %} {% load i18n static crispy_forms_tags ratings %} {% block meta %}
<meta name="keywords" content="">
<meta name="description" content=""> {% endblock meta %} {% block title %}{% trans "فروشگاه لیست" %}{% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<link rel="stylesheet" href="{% static 'details/assets/css/plugins/owl-carousel/owl.carousel.css' %}">{% endblock head %} {% block content %}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'details:home' %}">{% trans "خانه" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'blog:main' %}">{% trans "محصولات" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans "پیش فرض" %}</li>
            </ol>

            <nav class="product-pager mr-auto" aria-label="Product">
                {% if previous_product %}
                <a class="product-pager-link product-pager-prev" href="{{ previous_product.get_absolute_url }}" aria-label="Previous" tabindex="-1">
                    <i class="icon-angle-right"></i>
                    <span>{% trans "قبلی" %}</span>
                </a>
                {% endif %} {% if next_product %}
                <a class="product-pager-link product-pager-next" href="{{ next_product.get_absolute_url }}" aria-label="Next" tabindex="-1">
                    <span>{% trans "بعدی" %}</span>
                    <i class="icon-angle-left"></i>
                </a>
                {% endif %}
            </nav>
            <!-- End .pager-nav -->
        </div>
        <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <img id="product-zoom" src="{{ product.image.url }}" data-zoom-image="#" alt="تصویر محصول">

                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a>
                                </figure>
                                <!-- End .product-main-image -->

                                <!-- <div id="product-zoom-gallery" class="product-image-gallery">

                                    <a class="product-gallery-item active" href="#" data-image="{% static 'assets/images/products/single/1.jpg' %}" data-zoom-image="{% static 'assets/images/products/single/1-big.jpg' %}">
                                        <img src="{% static 'assets/images/products/single/1-small.jpg' %}" alt="product side">
                                    </a>

                                    <a class="product-gallery-item" href="#" data-image="{% static 'assets/images/products/single/2.jpg' %}" data-zoom-image="{% static 'assets/images/products/single/2-big.jpg' %}">
                                        <img src="{% static 'assets/images/products/single/2-small.jpg' %}" alt="product cross">
                                    </a>

                                    <a class="product-gallery-item" href="#" data-image="{% static 'assets/images/products/single/3.jpg' %}" data-zoom-image="{% static 'assets/images/products/single/3-big.jpg' %}">
                                        <img src="{% static 'assets/images/products/single/3-small.jpg' %}" alt="product with model">
                                    </a>

                                    <a class="product-gallery-item" href="#" data-image="{% static 'assets/images/products/single/4.jpg' %}" data-zoom-image="{% static 'assets/images/products/single/4-big.jpg' %}">
                                        <img src="{% static 'assets/images/products/single/4-small.jpg' %}" alt="product back">
                                    </a>
                                </div> -->
                                <!-- End .product-image-gallery -->
                            </div>
                            <!-- End .row -->
                        </div>
                        <!-- End .product-gallery -->
                    </div>
                    <!-- End .col-md-6 -->
                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">{{ product.name }}</h1>
                            <!-- End .product-title -->

                            <div class="ratings-container">

                                <!-- <a class="ratings-text" href="#product-review-link" id="review-link">( 2 نظر
                                            )</a> -->
                                <div class="text-right">
                                    {% comment %} {% ratings product %} {% endcomment %} {% include "shop/star_rate.html" %}
                                    <!-- <div class="ratings-val" style="width: 80%;"></div> -->
                                </div>
                            </div>
                            <!-- End .rating-container -->

                            <div class="product-price">
                                {{ product.price }}
                            </div>
                            <!-- End .product-price -->
                            {% comment %}
                            <div class="product-content">
                                <p>{{ product.short_description|safe }}</p>
                            </div>
                            <!-- End .product-content -->
                            {% endcomment %}

                            <div class="details-filter-row details-row-size">
                                <label>رنگ : </label>

                                <div class="product-nav product-nav-thumbs">
                                    <!--  -->
                                    {% for color in product.color %}
                                    <!-- <a href="#"><span style="background-color: #cc3333;" class="rounded-circle border-0"></span></a>  -->
                                    <form id="post-form" action="{% url 'shop:product_detail_by_color' product.id product.slug color %}" method="POST">{% csrf_token %}<input type="submit" style="width: 4.4rem;height: 4.4rem;margin-left: .5rem;" class="rounded-circle border-0 {{ color }}" value=""><input type="hidden" value="{{ color }}"></form>
                                    <!-- <form action="{% url 'shop:product_detail_by_color' product.id product.slug color %}" method="POST">{% csrf_token %}<input type="submit" style="width: 4.4rem;height: 4.4rem;margin-left: .5rem;" class="rounded-circle border-0 {{ color }}" value=""><input type="hidden" value="{{ color }}"></form> -->
                                    <!-- <a href="#"><span style="background-color: {{ color }};" class="rounded-circle border-0"></span></a> -->
                                    {% endfor %}
                                </div>
                                <!-- End .product-nav -->
                            </div>
                            <!-- End .details-filter-row -->

                            <div class="details-filter-row details-row-size">
                                <label for="size">{% trans "سایز" %} : </label>
                                <div class="select-custom">
                                    <select name="size" id="size" class="form-control">
                                                <option value="#" selected="selected">{% trans "سایز را انتخاب کنید" %}</option>
                                                <option value="s">{% trans "کوچک" %}</option>
                                                <option value="m">{% trans "متوسط" %}</option>
                                                <option value="l">{% trans "بزرگ" %}</option>
                                                <option value="xl">{% trans "خیلی بزرگ" %}</option>
                                        </select>
                                </div>
                                <!-- End .select-custom -->

                                <a href="#" class="size-guide"><i class="icon-th-list"></i>{% trans "راهنمای اندازه" %}</a>
                            </div>
                            <!-- End .details-filter-row -->
                            <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="details-filter-row details-row-size">
                                    <label for="qty">{% trans "تعداد" %} : </label>
                                    <div class="product-details-quantity">
                                        <!-- <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required> -->
                                        {{ cart_product_form.quantity }}
                                    </div>
                                    <!-- End .product-details-quantity -->
                                </div>
                                <!-- End .details-filter-row -->

                                <div class="product-details-action">
                                    <!-- <a href="{% url 'cart:cart_add' product.id %}" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a> -->
                                    <input type="submit" value="{% trans 'افزودن به سبد خرید' %}">
                                    <!-- <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                                        {% csrf_token %} {{ cart_product_form.quantity }}
                                        <input type="submit" value="Add to cart"> -->
                            </form>

                            <div class="details-action-wrapper">
                                <a href="#" class="btn-product btn-wishlist" title="لیست علاقه مندی"><span>{% trans "افزودن به لیست علاقه مندی" %}</span></a>
                                <a href="#" class="btn-product btn-compare" title="مقایسه"><span>{% trans "افزودن به لیست مقایسه" %}</span></a>
                            </div>
                            <!-- End .details-action-wrapper -->
                            </div>
                            <!-- End .product-details-action -->

                            <div class="product-details-footer">
                                <div class="product-cat text-center">
                                    <span>{% trans "دسته بندی" %} : </span>
                                    <a href="{% url 'shop:product_list_by_category' product.category.slug %}">{{product.category}}</a>
                                </div>
                                <!-- End .product-cat -->

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">{% trans "اشتراک گذاری" %} : </span>
                                    <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                                    class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                                    class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                                    class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="پینترست" target="_blank"><i
                                                    class="icon-pinterest"></i></a>
                                </div>
                            </div>
                            <!-- End .product-details-footer -->
                        </div>
                        <!-- End .product-details -->
                    </div>
                    <!-- End .col-md-6 -->
                </div>
                <!-- End .row -->
            </div>
            <!-- End .product-details-top -->

            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">{% trans "توضیحات" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">{% trans "اطلاعات بیشتر" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">{% trans "نظرات " %} {{product.comments.count}}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <h3>{% trans "اطلاعات محصول" %}</h3>
                            <p>{{ product.short_description|safe }}</p>
                        </div>
                        <!-- End .product-desc-content -->
                    </div>
                    <!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                        <div class="product-desc-content">
                            <h3>{% trans "اطلاعات" %}</h3>
                            <p>{{product.long_description|safe}}</p>
                        </div>
                        <!-- End .product-desc-content -->
                    </div>
                    <!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                        {% for comment in comments %} {% if not comment %}
                        <h3>{% trans "دیدگاهی موجود نیست" %}</h3>{% endif %}
                        <div class="reviews">
                            <h3>نظر ({{ comment.id }})</h3>
                            <div class="review">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <h4><a href="#">{{ user.username }}</a></h4>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div>
                                                <!-- End .ratings-val -->
                                            </div>
                                            <!-- End .ratings -->
                                        </div>
                                        <!-- End .rating-container -->
                                        <span class="review-date">{{ comment.created }}</span>
                                    </div>
                                    <!-- End .col -->
                                    <div class="col-12">

                                        <div class="review-content">
                                            <p>{{ comment.body|linebreaks }}!</p>
                                        </div>
                                        <!-- End .review-content -->

                                        <div class="review-action">
                                            <a href="#"><i class="icon-thumbs-up"></i>{% trans "مثبت" %} (2)</a>
                                            <a href="#"><i class="icon-thumbs-down"></i>{% trans "منفی" %} (0)</a>
                                        </div>
                                        <!-- End .review-action -->
                                    </div>
                                    <!-- End .col-auto -->
                                </div>
                                <!-- End .row -->
                            </div>
                            <!-- End .review -->
                        </div>
                        <!-- End .نظر -->
                        {% endfor %}
                    </div>
                    <!-- .End .tab-pane -->
                </div>
                <!-- End .tab-content -->
            </div>
            <!-- End .product-details-tab -->

            <h2 class="title text-center mb-4">{% trans "محصولاتی که شاید بپسندید" %}</h2>
            <!-- End .title text-center -->

            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                {% for product in products %}
                <div class="product product-7 text-center">
                    <figure class="product-media">
                        <!-- <span class="product-label label-new">جدید</span> -->
                        <a href="product.html">
                            <img src="{{product.image.url}}" alt="تصویر محصول" class="product-image">
                        </a>

                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>{% trans "افزودن به لیست علاقه مندی" %}</span></a>
                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="مشاهده سریع"><span>{% trans "مشاهده سریع" %}</span></a>
                            <a href="#" class="btn-product-icon btn-compare" title="مقایسه"><span>{% trans "لیست مقایسه" %}</span></a>
                        </div>
                        <!-- End .product-action-vertical -->
                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>{% trans "افزودن به سبد خرید" %}</span></a>
                        </div>
                        <!-- End .product-action -->
                    </figure>
                    <!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat text-center">
                            <a href="{% url 'shop:product_list_by_gender' product.gender %}">{{product.gender}}</a>
                        </div>
                        <!-- End .product-cat -->
                        <h3 class="product-title text-center"><a href="{{product.get_absolute_url}}">{{product.title}}</a></h3>
                        <!-- End .product-title -->
                        <div class="product-price">
                            {{product.price}} {% trans "تومان" %}
                        </div>
                        <!-- End .product-price -->
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 20%;"></div>
                                <!-- End .ratings-val -->
                            </div>
                            <!-- End .ratings -->
                            <span class="ratings-text">( {{product.comments.count}} {% trans "دیدگاه " %} )</span>
                        </div>
                        <!-- End .rating-container -->
                        {% comment %}
                        <div class="product-nav product-nav-thumbs">
                            <a href="#" class="active">
                                <img src="{% static 'details/assets/images/products/product-4-thumb.jpg' %}" alt="product desc">
                            </a>
                            <a href="#">
                                <img src="{% static 'details/assets/images/products/product-4-2-thumb.jpg' %}" alt="product desc">
                            </a>

                            <a href="#">
                                <img src="{% static 'details/assets/images/products/product-4-3-thumb.jpg' %}" alt="product desc">
                            </a>
                        </div>
                        <!-- End .product-nav -->
                        {% endcomment %}
                    </div>
                    <!-- End .product-body -->
                </div>
                <!-- End .product -->
                {% endfor %}
            </div>
            <!-- End .owl-carousel -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .page-content -->
</main>
<!-- End .main -->

{% endblock content %} {% block script %}
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock script %}
<!--  -->
{% comment %} {% block script_code %}
<script>
    $(document).on('submit', '#post-form', function(e) {
        $.ajax({
            type: 'POST',
            url: "{% url 'shop:product_detail' %}",
            data: {
                color: $('.red').val(),
            },
            success: function(json) {},
            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    });
</script>
{% endblock script_code %} {% endcomment %}